* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #333333;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto; /* Center the content */
  padding: 20px;
}

/* Profile Header */
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-picture {
  width: 240px;
  height: 240px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid white;
  margin-bottom: 10px;
}

.logo-link {
  display: inline-block;
}

.linkedin-link {
  display: inline-block;
  margin-left: 10px;
}

.linkedin-logo, .logo {
  width: 20px;
  height: 20px;
  vertical-align: left;
}

.company-logos {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 10px; /* Adds space between items */
}

.company-logos a {
  display: inline-block;
  width: 150px; /* Adjust this value based on your needs */
  height: 150px; /* Adjust this value based on your needs */
  text-align: center;
  overflow: hidden;
}

.company-logos img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}

header {
  margin-bottom: 5px;
}

h1 {
  font-size: 36px;
  color: #333;
}

/* Section styling */
section {
  padding: 5px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 5px;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

/* Footer styling */
footer {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #ddd;
  margin-top: 40px;
}

/* Links styling */
a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media (max-width: 800px) {
  body {
    padding: 15px;
  }
  
  header h1 {
    font-size: 28px;
  }
  
  section {
    padding: 15px 0;
  }
  
  footer {
    padding: 15px 0;
  }
}